[access "refs/*"]
  read = group arf-core
  owner = group arf-ptl
  create = group arf-core
[access "refs/heads/*"]
    label-Verified = -2..+2 group arf-ptl
    label-Code-Review = -2..+2 group arf-core
    label-Workflow = -1..+1 group arf-core
    rebase = group arf-core
    abandon = group arf-core
    submit = group arf-ptl
    read = group arf-core
    create = group arf-core
    push = group arf-core
[access "refs/tags/*"]
    create = group arf-core
	createTag = group arf-core
	createSignedTag = group arf-core
[access "refs/meta/config"]
    read = group arf-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[project]
        description = An Ansible role for the Prometheus server
